@charset "utf-8";
/* CSS Document */

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.myCarousel {
    margin-top: 65px;
}

.heading {
    margin-top:10px; 
    font-size:40px; 
    font-weight:bold;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
    color: #007bff;
    background-color: #fff;
    border-color: #007bff;
}

.submitButton {
    margin-top:30px;
}

.result {
    margin-top: 75px;
}

.card-winner {
    width:300px;
}

.form-group{
    text-align: center;
}